import React from "react";
// import { Component } from "./_{{createFilename nomePar}}.styled";

const {{nomePar}}: React.FC = () => {
    return (
        <div>
            <div>{{nomePar}}</div>
        </div>
    );
};

export default {{nomePar}};
